html, body {
    height: 100%;
    margin: 0;
}
/*Core Sections*/
#header{
  position: fixed;
  margin-top: 0px;
  top:   0px;
  left:  0px;
  right: 0px;

  padding-left: 10px;
  padding-top:  10px;

  height: 50px;
  font-size: 40px;
  font-family: "open sans", sans-serif;
  font-weight: 100;
  white-space: nowrap;
  border-bottom: solid 1px;
}

#info-section {
    position: fixed;
    margin-top: 60px;
    margin-left: 120px;
}
  .info {
      height: 50px;
      width: 50px;
      float: left;
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
  }
  .info img {
      margin: auto;
      width: 50%;
      padding: 10px;
  }

#main-wrap {
  position:absolute;
  width:100%;

  bottom:4px;
  top:110px;
}

#sidebar {
  position:absolute;
  /*height:100%;*/
  width:120px;
  /*overflow:auto;*/
  text-align: right;
}
  #sidebar p {
    /*font-size: 40px;*/
    margin: 3px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-family: Courier;
    font-weight: bold;
    white-space: nowrap;
  }
  #sidebar a {
    color: rgb(34, 43, 45);
    text-decoration: none;
  }

#content-section {
    position: absolute;
    left: 120px;
    right: 0;
    bottom: 0;
    top: 0;
}
